if SHIELD_ZARUBALL_RIGHT

config ZMK_KEYBOARD_NAME
    default "ZaruBall_right"

config ZMK_SPLIT
    default y

# config ZMK_SPLIT_ROLE_CENTRAL  <-- 削除
#    default y                 <-- 削除

endif

if SHIELD_ZARUBALL_LEFT

config ZMK_KEYBOARD_NAME
    default "ZaruBall_left"

config ZMK_SPLIT
    default y

endif

if SHIELD_ZARUBALL_FOOT

config ZMK_KEYBOARD_NAME
    default "ZaruBall_foot"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL  # <-- これを追加
    default y                # <-- これを追加

endif