if SHIELD_ZARUBALL_RIGHT

config ZMK_KEYBOARD_NAME
    default "ZaruBall_right"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ZARUBALL_LEFT

config ZMK_KEYBOARD_NAME
    default "ZaruBall_left"

config ZMK_SPLIT
    default y

endif

if SHIELD_ZARUBALL_FOOT

config ZMK_KEYBOARD_NAME
    default "ZaruBall_foot"

config ZMK_SPLIT
    default y

endif

